@import url('./normalize.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');


body {
    min-width: 320px;
}

.loader {
  border-top-color:#323232;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

